form {
	position: absolute;
	margin: 20% auto 0;
	left: 0;
	right: 0;
	text-align: center;
}

h1 {
	font: 250px Verdana, Arial, Helvetica, sans-serif;
	height: 260px;
	margin: -200px 0 50px;
	font-weight: bolder;
	text-align: center;
}
h1.cliptext {
	background: url(style/images/cloud.jpg) repeat;
	background-position: 50% 50%;
	background-size: 360px 300px;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-animation-name: wind;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
@-webkit-keyframes wind {
	0% {background-position-x: 0%;}
	100% {background-position-x: 100%;}
}

fieldset {
	border: 0;
	text-align: center;
}
legend {
	font: 24px Verdana;
	color: grey;
}

img {
	width: 367px;
	position: relative;
	margin: 65px auto 0;
	display: block;
}

p.badpass {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: red;
	margin-bottom: 0;
}

p.mapsitna {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: red;
	font-variant: small-caps;
	font-weight: 700;
	margin-top: 25px;
}
.warning {

	color: #BF1606;
}

input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input[type=submit] {
	margin: 1.5em auto 1em;
}

nav {
	line-height: 1.5em;
}