@charset "UTF-8";
/* CSS Document */

#files {
	padding-top: 14px;
	padding-left: 12px;
}

details {
	padding-left: 12px;
	color: grey;
	font: 12px/22px Arial;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

details summary {
	outline: none;
}

.folder:hover {
	margin-left: -5px;
	padding: 3px 5px;
	background: lightgrey;
	border-radius: 10px;
}


img[src="style/rightArrow.png"], img[src="style/downArrow.png"] {
	height: 12px;
	margin-bottom: -2px;
}
